<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Product Picker : OTP Verification Email</title>
    <style>
      body {
        background-color: #ffffff;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.4;
        color: #333333;
        margin: 0;
        padding: 0;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        background-color: #355e3b;
        color: white;
        border-radius: 50px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
          rgba(17, 17, 26, 0.1) 0px 8px 24px,
          rgba(17, 17, 26, 0.1) 0px 16px 56px;
      }

      .logo {
        max-width: 50px;
      }

      .message {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .body {
        font-size: 16px;
        margin-bottom: 20px;
      }

      .cta {
        display: inline-block;
        padding: 10px 20px;
        background-color: #ffd60a;
        color: #000000;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        margin-top: 20px;
      }

      .support {
        font-size: 14px;
        color: #999999;
        margin-top: 20px;
      }

      .highlight {
        font-weight: bold;
      }
      .email {
        color: rgb(26, 211, 156);
      }
      .company-logo {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #f3830b;
        justify-content: center;
        text-align: center;
      }
      .company-logo h1 {
        font-weight: 800;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="company-logo">
        <a href="">
          <img
            class="logo"
            src="https://res.cloudinary.com/dfykppt3d/image/upload/v1724651127/ClassLink/avatars/3d-fluency-product-documents_oxoy8o.png"
            alt="Product Picker Logo"
          />
        </a>
        <h1>Product Picker</h1>
      </div>
      <div class="message">OTP Verification Email</div>
      <div class="body">
        <p>Dear <%= user.name %>,</p>
        <p>
          Thank you for registering with Product Picker as "<%= user.accountType %>"
          <br />
          To complete your registration, please use the following OTP (One-Time
          Password) to verify your account:
        </p>
        <h2 class="highlight"><%= activationCode %></h2>
        <p>
          This OTP is valid for 5 minutes. If you did not request this
          verification, please disregard this email. Once your account is
          verified, you will have access to our platform and its features.
        </p>
      </div>
      <div class="support">
        If you have any questions or need assistance, please feel free to reach
        out to us at
        <a class="email" href="mailto:gadeaniruddha2@gmail.com"
          >gadeaniruddha2@gmail.com</a
        >. We are here to help!
      </div>
    </div>
  </body>
</html>
